## Next.js
export NEXT_PUBLIC_FEATURE_FLAG=false
export CONNECT_ACCOUNT_PORT=29703
export CONNECT_ACCOUNT_SESSION_SALT=complex_password_at_least_32_characters_long
export CONNECT_ACCOUNT_HOSTNAME=connect-account.local:29704

## DynamoDB
export DYNAMODB_REGION=eu-west-3
export DYNAMODB_ENDPOINT=http://localhost:29713
export DYNAMODB_ACCESS_KEY_ID=
export DYNAMODB_SECRET_ACCESS_KEY=
export DYNAMODB_TABLE_NAME=users

## Connect Management
export CONNECT_MANAGEMENT_URL=https://management.connect.review.fewlines.tech/graphql
export CONNECT_MANAGEMENT_API_KEY=

## OAuth2
export CONNECT_PROVIDER_URL=
export CONNECT_APPLICATION_CLIENT_ID=
export CONNECT_APPLICATION_CLIENT_SECRET=
export CONNECT_APPLICATION_SCOPES=
export CONNECT_OPEN_ID_CONFIGURATION_URL=
export CONNECT_REDIRECT_URI=
export CONNECT_AUDIENCE=
export CONNECT_JWT_ALGORITHM=
export ACCOUNT_JWE_PRIVATE_KEY=
export IS_JWE_SIGNED=true

## OBSERVABILITY
export SERVICE_NAME=
export LIGHTSTEP_ACCESS_TOKEN=

## RATE LIMITING
export MEMCACHED_CLIENT_PASSWORD=
export MEMCACHED_CLIENT_USERNAME=
export MEMCACHED_CLIENT_SERVERS=localhost:29794

## Sentry
export NEXT_PUBLIC_SENTRY_DSN=https://6baf0213093a428d9e9ec7ae0979868c@o287463.ingest.sentry.io/5387583
export NEXT_PUBLIC_SENTRY_ENVIRONMENT="development"

## E2E tests
export CONNECT_TEST_ACCOUNT_EMAIL=
export CONNECT_TEST_ACCOUNT_PASSWORD=
export CONNECT_TEST_ACCOUNT_USER_ID=
export CONNECT_ACCOUNT_TEST_URL=

## Connect.Profile
export CONNECT_PROFILE_URL=
