!.env_vars.sample
.c9/
.classpath
.DS_Store
.env*
.next/
.pnp.js
.project
.settings/
.vscode/*
*.launch
*.log
*.sublime-workspace
**/screenshots/*.png
/.idea
/.nyc_output
/.pnp
/certs
/coverage
/dist
/out/
config.json
courses/
logs
node_modules
npm-debug.log*
Procfile
storybook-static
yarn-debug.log*
yarn-error.log*
lighthouse-reports/