
{
  "http": {
    "port": 50100
  },
  "tracing": {
    "serviceName": "connect_account"
  },
  "connectManagement": {
    "apiKey": ***,
    "graphqlEndpoint": *** 
  },
  "connectProfile": {
    "apiKey": ***
  }
}